alias ..='cd ../'
alias ...='cd ../../'
alias ....='cd ../../../'
alias .....='cd ../../../../'

alias rm='trash'

# Shell

alias resource='source ~/.zshrc'

# VSCode
alias att='code .'
alias atn='code -n'

# Colorized "cat"
alias c='pygmentize -O style=monokai -f console256 -g'

# Git aliases
alias g='git'
alias gst='git st'
alias gco='git co'
alias gci='git ci'
alias gcma='git cma'
alias gbr='git br'
alias gcl='git cl'
alias gdb='git db'
alias gdf='git df'
alias gdc='git dc'
alias gdt='git dt'
alias gdtc='git dtc'
alias gf='git f'
alias glg='git lg'
alias glol='git lol'
alias glola='git lola'
alias glom='git lom'
alias gff='git ff'
alias grh='git rh'

# npm
alias npmh='npm config set registry https://registry.npmjs.org'
alias npmw='npm config set registry http://npm.invision.works'
